*{padding:0;margin:0;box-sizing:border-box}
html{scroll-behavior:smooth}
body{font-family:'Roboto',sans-serif;font-size:18px;line-height:1.6em;color:#333}
a{color:#1890FF;text-decoration:none;transition:.25s all ease;cursor:pointer}
a:hover{color:#40A9FF}
a:active{color:#096DD9}
h1{font-size:3em;line-height:1.2em;margin-bottom:.5em}
h2{font-size:1.8em;line-height:1.2em;margin-bottom:.5em;color:#003A8C}
h3{font-size:1.6em;line-height:1.2em;margin-bottom:.5em}
h4{font-size:1.2em;line-height:1.2em;margin-top:1.5em;margin-bottom:.5em}
p{margin-bottom:1em}
ul{padding-left:1em;margin-bottom:1em}
li{padding-bottom:.5em}
header{background:linear-gradient(60deg,#006EC8,#000);color:#fff}
.gray-bg{background-color:#f5f5f5}
.languages{margin-bottom:1em}
.languages a{display:inline-block;border:2px solid #1890FF;border-radius:4px;padding:0 .3em;line-height:1.6em}
.languages a:hover{text-decoration:none;opacity:.8}
.languages a.active{background-color:#1890FF;color:#fff}
.align-center{text-align:center}
.align-right{text-align:right}
hr{border:0;border-top:1px solid #ccc;margin:2em 0}
.container{max-width:800px;margin:0 auto;padding:2em}
.top-nav{background-color:#fff}
.top-nav a{display:block;margin:1em 0;line-height:1.2em}
.frame{position:relative;background-image:url(../images/Ukraine-Estonia.webp);background-position:center;background-size:cover;padding-top:56.6%}
.container.grid-col-2{display:grid;grid-template-columns:2fr 3fr;grid-gap:2em;}
footer{padding:2em}
.back-to-top{position:fixed;z-index:2;right:.5em;bottom:.5em;display:block;background-color:#1890FF;border-radius:4px;width:2em;height:2em;text-align:center;cursor:pointer;opacity:0;transition:.5s all ease}
.show{opacity:1}
.show:hover{opacity:.8}
section{display:none}
.menu-link-active{font-weight:500;color:#003A8C}
.menu-link-active:hover{text-decoration:none;color:#003A8C;opacity:1}
.section-active{display:block}
@media(max-width:768px) {
    h1{font-size:1.8em;line-height:1.2em}
    h2{font-size:1.6em;line-height:1.2em}
    h3{font-size:1.4em;line-height:1.2em}
    h4{font-size:1.1em;line-height:1.2em}
    .container.grid-col-2{grid-template-columns:auto;grid-gap:1em}
}
